@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<h1> ABOUT US</h1>
<p> We are a group of hardworking individuals that share a passion for shoes. 
    We are committed to making your shoe shopping experience simple and pleasurable.
    An energetic, creative, and customer-focused app is the result of the fusion of our varied backgrounds and expertise.</p>
<img src="~/IMG/PIC2.jpg"/>